@import "../../styles/variables.scss";

.todo-list-item {
  padding: 10px 15px;
  margin-bottom: 10px;
  color: $font-header;
  background-color: $item-bcg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .title {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    flex: 1;

    &-wrapper {
      flex: 1;
      display: flex;
    }
  }

  &-text {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 20px;
  }

  &-check {
    margin-right: 10px;

    &:checked + .title-wrapper .title {
      text-decoration: line-through;
    }
  }

  &-remove {
    color: $red-font;
    outline: none;
  }

  &-edit {
    color: $blue;
    margin-right: 20px;
    outline: none;
  }
}
