@import "./variables.scss";

@mixin boxShadow {
  box-shadow: 0 12px 18px 0 rgba(10, 47, 97, 0.2),
    inset 0 -2px 0 0 rgba(42, 67, 101, 0.16);
}

@mixin blockBorder {
    border-bottom: 1px solid $font-light;
}

@mixin blockPaddings {
    padding: 10px 30px;
}